<style>
  /* search */
  .search-btn {
    display: flex;
    background-color: #fe424d;
    color: white;
    border-radius: 28px;
    padding: 0 0.6rem 0 0.6rem;
    align-items: center;
    justify-content: center;
  }

  .search-btn:hover {
    background-color: #fe424d;
    color: white;
  }

  .search-btn i {
    margin-right: 0.5rem;


  }

  .search-input {
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
    font-size: 1rem;
  }
</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">

  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"> <i class="fa-regular fa-compass"></i></a>
    <div class="navbar-nav w-25">
      <b><a class="nav-link" href="/listings">Explore</a></b>
    </div>

    <div class="navbar-nav mx-auto">
      <form class="d-flex" role="search" >
        <input class="form-control me-2 search-input" type="search" name="search" placeholder="Search destination" />
        <button class="btn search-btn" type="submit"> <i class="fa-solid fa-magnifying-glass"></i> Search</button>
      </form>
    </div>


    <div class="navbar-nav ms-auto w-25 justify-content-end">
      <a class="nav-link" href="/listings/new">Airbnb your home</a>
      <% if(!currUser){%>
        <a class="nav-link " href="/signup"><b>Sign Up</b></a>
        <a class="nav-link" href="/login"><b>Login</b></a>

        <%}%>
          <%if(currUser){%>
            <a class="nav-link" href="/logout"><b>Log Out</b></a>
            <%}%>

    </div>
  </div>

</nav>