<% layout("/layouts/boilerplate.ejs")%>

    <div class="row">
        <div class="col-8 offset-2">
            <h2>Create a New Listings</h2>
            <form method="post" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data">

                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" placeholder="Add a catchy title" class="form-control"
                        required>
                    <div class="valid-feedback">Title looks good.</div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" placeholder="Enter description" class="form-control"
                        required></textarea>
                    <div class="invalid-feedback">Please enter a short description.</div>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Image Upload</label>
                    <input type="file" name="listing[image]" class="form-control" required>
                </div>

                <div class="row">
                    <div class="mb-3">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" name="listing[price]" placeholder="Enter Price" class="form-control"
                            required>
                        <div class="invalid-feedback">Please enter a valid price.</div>
                    </div>

                    <div class="mb-3">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="listing[country]" placeholder="Enter country name " class="form-control"
                            required>
                        <div class="invalid-feedback">country should be valid.</div>
                    </div>
                </div>


                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" name="listing[location]" placeholder="Enter location" class="form-control"
                        required>
                    <div class="invalid-feedback">location should be valid.</div>
                </div>

                <button class="btn btn-dark add-btn mb-2">Add</button>
            </form>
        </div>
    </div>